#title-paq{
    margin-top: 69px;
    margin-bottom: 48px;
    text-align: center;
}
#group1-img{
    margin-left: 48px;
    margin-bottom: 51px;
}
#group1-img img{
    float: left;
    width: 393px;
    height: 264px;
    padding-left: 39px;
}
#group2-img{
    margin-left: 48px;
    margin-bottom: 100px;
}
#group2-img img{
    float: left;
    width: 393px;
    height: 264px;
    padding-left: 39px;
}